.containerPrincipal {
    padding:50px;
    width:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE1kO5VsRYB3ZqdeRUykkoP0d1OgL24cGG2Q&usqp=CAU");
   
  border:5px solid #f30000;; 
    width: 95%;
    height: 100%;

}
.img {
    margin-top: 50px;
    position: relative;
    top: 20px;
    left: 280px;
    width: 50%;
    height: 50%;
    pointer-events: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 320px;
    background-color: rgb(245, 238, 233);
    
}
.titleDetail {
        margin-top:20px;
        margin-bottom: 15px;
        color: rgb(246, 110, 14);
        width: 50%;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        border-radius: 20px;
        padding: 10PX;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
}
.titleText{
    
   width: 250px;
    color: rgb(246, 110, 14);
    
}

p{
   

    font-size: 25px;
    width: 100%;
  
}
.puntuacion{
    position: relative;
    bottom: 250px;
    color: rgb(246, 110, 14)
}
.btnVolver{
    width: 100px;
    height: 40px;
    background-color: rgb(246, 110, 14);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    position:relative;
    left: 500px;
}

